/* OrderTable.css */

/* Style for the modal header */
.modal-header {
  /* background-color: #343a40; Dark background color */
  color: black; /* Light text color */
  padding: 15px;
  margin: 50px 0 ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  margin: 0;
}

.close {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}

/* Style for the modal body */
.modal-body {
  padding: 20px;
}

/* Style for the order details */
.order-details p {
  margin-bottom: 10px;
  font-size: 18px;
}

.order-details h5 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.order-details ul {
  list-style-type: none;
  padding: 0;
}

.order-details li {
  margin-bottom: 15px;
  
}

/* AllOrders.css */

/* Styling for the order status dropdown */
.select-wrapper {
  position: relative;
  display: inline-block;
}

.status-dropdown {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #fff;
  color: #495057;
}

.status-dropdown:hover {
  border-color: #6c757d;
}

.status-dropdown:focus {
  outline: none;
  border-color: #6c757d;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.25);
}

/* Styling for the update button */
.update-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 8px;
}

.update-button:hover {
  background-color: #218838;
}

/* Styling for the edit icon */
.edit-icon {
  margin-left: 8px;
  cursor: pointer;
  color: #007bff;
}

.edit-icon:hover {
  color: #0056b3;
  background-color: #3bd30c;
}

.image-container {
  display: flex;
  flex-wrap: wrap; /* Allows images to wrap to the next line if there is not enough space */
}

.modal-image {
  max-width: 100%;
  margin-right: 10px;
  margin-bottom: 10px;

}

.option-buttons{
  display: flex;
  justify-content: space-evenly;
}
.table-data-inputs input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid rgba(128, 128, 128, 0.259);
  /* border: none; */
}
.table-data-inputs select {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid rgba(128, 128, 128, 0.259);
  /* border: none; */
}


.table-data-inputs input:hover {
  border-color: #0cc1e0;
}

.table-data-inputs input:focus {
  outline: none;
  border-color: #0cc1e0;
  box-shadow: 0 0 20px rgba(0, 204, 224, 0.5);
}