/* OrderTable.css */

/* Style for the modal header */
.modal-header {
  /* background-color: #343a40; Dark background color */
  color: black; /* Light text color */
  padding: 15px;
  margin: 50px 0 ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  margin: 0;
}

.close {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}

/* Style for the modal body */
.modal-body {
  padding: 20px;
}

/* Style for the order details */
.order-details p {
  margin-bottom: 10px;
  font-size: 18px;
}

.order-details h5 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.order-details ul {
  list-style-type: none;
  padding: 0;
}

.order-details li {
  margin-bottom: 15px;
  
}
